body.light-mode {
  background-color: #fdf8fd;
  color: #111111;
}

body.light-mode .logo {
  color: #111111 !important;
}
body.light-mode .navbar {
      border-bottom: 1px solid #e5e7eb;
}

body.light-mode .navbar,
body.light-mode .hero,
body.light-mode .icon-btn,
body.light-mode .hamburger-menu,
body.light-mode .text-muted-foreground,
body.light-mode .general-info,
body.light-mode .news-section,
body.light-mode .team-section,
body.light-mode .find-us-section,
body.light-mode .contact-section,
body.light-mode .contact-footer {
  background-color: #fdf8fd !important;
  color: #111111 !important;
}
body.light-mode .info-card {
  border: none;
  background-color: #ffffff;
}

body.light-mode .info-card,
body.light-mode .news-card,
body.light-mode .team-card,
body.light-mode .find-us-card,
body.light-mode .contact-box,
body.light-mode .contact-form input,
body.light-mode .contact-form textarea {
  background-color: #f0f0f0 !important;
  color: #111111 !important;
}

body.light-mode a {
  color: #4f46e5;
}

body.light-mode .subtitle,
body.light-mode .news-subtitle,
body.light-mode .team-subtitle,
body.light-mode .desc,
body.light-mode .find-us-card p,
body.light-mode .contact-description {
  color: #444 !important;
}