body.light-mode {
  background-color: #fdf8fd;
  color: #111111;
}

body.light-mode .logo {
  color: #111111 !important;
}

body.light-mode .navbar {
  border-bottom: 1px solid #e5e7eb;
}

body.light-mode .language-menu {
  background-color: #fdf8fd;
  border: 1px solid #e5e7eb;
}

body.light-mode .language-menu li {
  color: #111;
}

body.light-mode .language-menu li:hover {
  background-color: #e5e7eb;
}

body.light-mode .general-info,
body.light-mode .team-section,
body.light-mode .contact-section,
body.light-mode .general-info h2,
body.light-mode .strong,
body.light-mode .find-us-section .find-us-subtitle {
  background-color: #f6f6f6;
  color: #333 !important;
}

body.light-mode .nav-links a,
body.light-mode .general-info p {
  color: #757576;
}

body.light-mode .navbar,
body.light-mode .hero,
body.light-mode .icon-btn,
body.light-mode .hamburger-menu,
body.light-mode .text-muted-foreground,
body.light-mode .news-section,
body.light-mode .find-us-section,
body.light-mode .contact-footer {
  background-color: #fdf8fd !important;
  color: #111111 !important;
}

body.light-mode .news-meta button {
  background-color: #ffffff;
  color: #8b5cf6;
  font-weight: 700;
}

body.light-mode .contact-box,
body.light-mode .info-card,
body.light-mode .team-card,
body.light-mode .find-us-card {
  background-color: #ffffff !important;
  border: 1px solid #e5e7eb !important;
  box-shadow: none;
}

body.light-mode .find-us-card h3 {
  margin: 14px 0;
}

body.light-mode .team-card .role {
  margin: 10px 0;
}

body.light-mode .icons i {
  color: #333;
}

body.light-mode .info-card h3 {
  color: #333;
}

body.light-mode .info-card p {
  color: #757576;
}

body.light-mode .news-card,
body.light-mode .contact-box,
body.light-mode .contact-form input,
body.light-mode .contact-form textarea {
  color: #111111 !important;
}

body.light-mode .news-card {
  border: 1px solid #e4e4e4;
  background-color: #ffffff !important;

}

body.light-mode .extra-content p,
body.light-mode .extra-content h2,
body.light-mode .extra-content li {
  color: #333;
}

body.light-mode .news-card p {
  color: #757576;
}

body.light-mode a {
  color: #4f46e5;
}

body.light-mode .subtitle,
body.light-mode .news-subtitle,
body.light-mode .team-subtitle,
body.light-mode .desc,
body.light-mode .find-us-card p,
body.light-mode .contact-description {
  color: #444 !important;
}

body.light-mode .contact-form input,
body.light-mode .contact-form textarea {
  background-color: #ffffff;
}

body.light-mode .footer-brand {
  margin-bottom: 16px;
}

body.light-mode .contact-footer {
  border-top: 1px solid #e4e4e4;
}