@media (max-width: 768px) {

    .navbar {
        width: 100vw;
        overflow-x: hidden;
    }

    .nav-links,
    .contact-btn {
        display: none;
    }

    .hamburger-menu {
        display: block;
        background-color: #0f172a;
        color: #d1d5db;
        border: none;
        font-size: 18px;
    }

    .nav-inner {
        max-width: 1200px;
        width: 100%;
        padding: 0 26px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav-right {
        gap: 12px;
    }

    .nav-icons {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 16px;
    }


    .nav-open .nav-links {
        display: flex;
        flex-direction: column;
        background-color: #1e293b;
        position: absolute;
        top: 70px;
        right: 20px;
        padding: 12px;
        border-radius: 8px;
        gap: 12px;
        z-index: 1001;
    }

    .nav-open .contact-btn {
        display: block;
        width: 100%;
    }

    /* hero */
    .hero {
        padding: 80px 0;
    }

    .hero-inner {
        padding: 0 26px;
    }

    .hero-inner h1 {
        font-size: 36px;
    }

    .subtitle {
        font-size: 16px;
        max-width: 100%;
        margin-bottom: 40px;
    }

    .info-grid {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .info-card {
        padding: 20px;
    }

    .learn-btn {
        font-size: 14px;
        padding: 10px 24px;
    }

    /* General  Info Section */
    .general-info {
        padding: 60px 26px 70px 26px;
    }

    .general-info h2 {
        font-size: 26px;
        margin: 10px 0 60px 0;
    }

    .info-columns {
        flex-direction: column;
        gap: 40px;
    }

    .info-columns .left,
    .info-columns .right {
        flex: none;
        width: 100%;
    }

    .info-columns p {
        font-size: 15px;
        line-height: 22px;
    }

    .info-columns p strong {
        margin-bottom: 10px;
    }

    .pitch-btn {
        margin: 26px 0;
    }

    /* new section */
    .news-section {
        padding: 60px 26px;
    }

    .news-title,
    .news-subtitle {
        padding-left: 0;
    }

    .news-title {
        font-size: 1.5rem;
        margin: 20px 0;
    }

    .news-subtitle {
        font-size: 0.95rem;
        margin-bottom: 60px;
    }

    .news-grid {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .news-card {
        padding: 16px;
    }

    .news-card h3 {
        font-size: 1rem;
    }

    .news-card p {
        font-size: 13px;
    }

    .news-meta {
        flex-direction: column;
        align-items: flex-start;
        gap: 6px;
    }

    .view-all-btn {
        width: 50%;
        padding: 12px;
        font-size: 15px;
    }

    /* Teams section*/
    .team-title {
        margin-bottom: 20px;
    }
}